$ease: cubic-bezier(0.2, 1, 0.3, 1);

.progress {
  border-radius: 0;
  height: 0.25rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.progress-bar {
  background-color: var(--color-primary-500);
}

.hide {
  transition: 2s $ease;
  opacity: 0;
}
