@use '../config/typography' as *;
@use '../config/spacing' as *;
@use '../config/colors' as *;
@use '../config/utils/container' as *;
@use '../config/breakpoints' as *;
@use '../components/button';

.connexion {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__title {
    font-size: typography-size-get('4xl');
  }

  &__subtitle {
    color: color-get('contrast', '600');
  }

  &__btn {
    min-height: spacing-get('xl');
    width: 100%;
  }
}
