@use '../config/typography' as *;
@use '../config/spacing' as *;
@use '../config/colors' as *;
@use '../config/utils/container' as *;
@use '../config/breakpoints' as *;
@use '../components/button';

html {
  overflow-y: scroll;
}

.connexion {
  display: flex;
  padding-top: spacing-get('lg');
  padding-bottom: spacing-get('xl');
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);

  &__title {
    font-size: typography-size-get('4xl');
  }

  &__subtitle {
    color: color-get('contrast', '600');
  }

  &__btn {
    min-height: spacing-get('xl');
    width: 100%;
  }
}
